<header>
  <nav>
    <div class="content-left">
      <img src="/images/logo.png" class="logo" />
        <a href="/" class="nav-link">
          <div class="title">
            <span><i>Veggie</i></span>
            <span><i>D'Light</i></span>
          </div>
        </a>  
    </div>
    <div class="content-right">
        <a href="http://localhost:8080/">
          <button type="button" class="btn-dark" data-mdb-ripple-color="dark">
            <span>Home  <i class="fa fa-home" aria-hidden="true"></i></span>
          </button>
        </a>
        <a href="http://localhost:8080/menus">
          <button type="button" class="btn-dark" data-mdb-ripple-color="dark">
            <span>Menus  <i class="fa fa-cutlery" aria-hidden="true"></i></span>
          </button>
        </a>
     </div>
    </nav>> 
</header>
