<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/common.css" type="text/css" />
  <script src="https://kit.fontawesome.com/9b1b322d51.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <% if (typeof script === 'string') {%>
    <div id='err_msg'>
      <%= script %>
    </div>
  <% } %>
  
  <%- include('partials/header') %>

  <div class="fullscreen">
    <div class="video-title">
      <span>YOUR FAVOURITE FOODS MADE HEALTHIER. 100% PLANT BASED!</span>
    </div>
  </div>

  <video loop muted autoplay ="" class="fullscreen-video">
    <source src="/videos/Home.mp4" type="video/mp4"/>
  </video>

  
  <div class="main-content">
    <div class="about-us-container">
      <div class="about-us-text">
         <h2> About Us!</h2>
         <p>
          Located in the core of South Oshawa, Veggie D'Light will surprise your 
          taste buds and make you rethink food as you know it. We know how busy you are.
          To ensure that you take good care of your body, we offer
          healthy mindful plant-based meals that you can get fresh in-store. Our meals 
          are designed to help you maintain a healthy weight, reduce inflammation, 
          and promote gut health. We offer many gluten free and nut free options.
          We make mindful desserts in-house that are mostly gluten free, oil free,
          and refined-sugar free. 
        </p>
      </div>
    </div>
    
    <div class="contact-us-container">
      <div class="contact-us-text">
        <h3>Contact Us</h3>
        <p>
          info@VeggieD'Light.com<br />
          906.456.1234 <br />
        </p>
        <div>
          <h5>Hours</h5>
          <p>9 AM – 10 PM daily</p>
        </div>
        <div>
          <h5>Location</h5>
          <p>
            Oshawa Center<br />
            Ground Floor<br />
            19 King St W<br />
            Oshawa, ON L1J 2K5
          </p>
        </div>
      </div>
      <img class="contact-us-image" src="/images/restaurant.jpg" />
    </div>

    <%- include('partials/footer') %>
  </body>

</html>
