<!DOCTYPE html>
<html lang="en">

<head>
  <title>Last Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/last.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/common.css" type="text/css" />
  <script src="https://kit.fontawesome.com/9b1b322d51.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <%- include('partials/header') %>
  
  <main>
    <p>Thank you for your order! Check your SMS for estimated time to pickup.</p>
    <div>
      <p class="visit">Visit Us Again <i class="fa fa-smile-o" aria-hidden="true"></i></p>
    </div>
  </main>

  <%- include('partials/footer') %>

</body>

</html>
