$primaryGreen: #27a39b;
$primaryBlack: #222222;
$green : #51cec3;
$purple : #B762C1;
$navWhite: hsl(0, 14%, 89%);
$backgroundWhite: #ffffff;
$navLinkBrown: #666058;
$primaryGold: #ba9867;
$primary_color : #BC7869;
$secondary_color : #F5B57A;
