body {
  height: 100vh;
  background:  linear-gradient(0deg, $secondary_color, $secondary_color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 36px;
}


main {
  background: linear-gradient(165.26deg, $primary_color 1.96%, rgba(234, 198, 196, 0) 80.75%);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
