$primary_color : #BC7869;
$secondary_color : #F5B57A;
$price_color : rgb(86, 90, 93);
@import 'breakpoints';
body {
  height: 100vh;
  background:  linear-gradient(0deg, $secondary_color, $secondary_color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  main {
    background: linear-gradient(165.26deg, $primary_color 1.96%, rgba(234, 198, 196, 0) 80.75%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6em;
    font-size: 1rem;
    @include md {
      font-size: 1.3rem;
    }
    form {
      width: 100%;
      @include lg {
        width: 50%;
      }
    }
    .form_layout {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      justify-content: space-around;
      .menu_items {
        width: 100%;
        .item {
          margin: 1em;
          display: flex;
          justify-content: space-between;
          .item_name {
            margin: 0 1em;
          }
          .item_price {
            color: $price_color;
          }
          input[type=checkbox] {
            width : 0.8em;
            height: 0.8em;
            accent-color: #99b92e;
          }

          input[type=number]::-webkit-inner-spin-button,
          input[type=number]::-webkit-outer-spin-button  {
            opacity: 1;
          }
          input[type = number] {
            width: 3em;
            border: none;
            border-radius: 10px;
            background: #e7d5c4;
            outline: none;
          }
        }
      }
      .btn{
        margin-top: 1em;
        font-size: 1.2em;
        padding: 1em 5em;
      }
    }
  }

}

